@model ENC.tbl_receiverinfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_receiverinfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.receiver_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receiver_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.receiver_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receiver_email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.receiver_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
