@model IEnumerable<ENC.tbl_SR_allocation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.sender_id)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.receiver_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbldatakey_id)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.receiver_key)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.sender_id)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.receiver_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbldatakey_id)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.receiver_key)
        </td>*@
    <td>
        @Html.ActionLink("DownloadData", "Create", new { id=item.sr_id })
        @*@Html.ActionLink("Edit", "Edit", new { id=item.sr_id }) |
        @Html.ActionLink("Details", "Details", new { id=item.sr_id }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.sr_id })*@
    </td>
    </tr>
}

</table>
