@model IEnumerable<ENC.SRInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Shared Data</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Sender")
        </th>
        <th>
            @Html.Label("Receiver")
        </th>
        <th>
            @Html.Label("File Name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.senderemail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.receiveremail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datafilename)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.srid })
        </td>
    </tr>
}

</table>
