@model IEnumerable<ENC.tbl_senderinfo>

@{
    ViewBag.Title = "Index";
}

<h2>List of Senders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("Last Name")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("Secret Word")
        </th>
        <th>
            @Html.DisplayName("Attribute")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sender_fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sender_lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sender_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.secret_word)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sender_attribute)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.sender_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.sender_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.sender_id }) |
                @Html.ActionLink("UploadFile", "UploadFile", new { id = item.sender_id })
            </td>
        </tr>
    }

</table>
